[submodule "submodules/CairoSVG"]
	path = submodules/CairoSVG
	url = https://github.com/Kozea/CairoSVG.git
[submodule "submodules/SleekXMPP"]
	path = submodules/SleekXMPP
	url = https://github.com/fritzy/SleekXMPP.git
[submodule "submodules/pycairo"]
	path = submodules/pycairo
	url = git://git.cairographics.org/git/pycairo
