[submodule "submodules/CairoSVG"]
	path = submodules/CairoSVG
	url = https://github.com/Kozea/CairoSVG.git
[submodule "submodules/slixmpp"]
	path = submodules/slixmpp
	url = git://git.poez.io/slixmpp
[submodule "submodules/pycairo"]
	path = submodules/pycairo
	url = https://github.com/pygobject/pycairo.git
