
body{
	background:#FFFFFF;
	font-family:Verdana, sans-serif;
	font-size:0.9em;
}

/* Top menu style */
.topmenu {
	width:1003px;
	margin:auto;
}

.nav{
	background:url(images/left-corner.png) no-repeat left top;
	float:left;
	width:80%;
}

.search-outer{
	background:url(images/right-corner.png) no-repeat right top;
	float:right;
	width:20%;
	height:43px;
}


.topmenu ul {
	margin:0px;
	padding:0px;
	float:left;
}

.topmenu li {
	float:left;
	padding:0 2px 0 0;
	list-style:none;
	background:url(images/divider.gif) no-repeat right;
}

.topmenu a:link,  .topmenu a:visited {
	font-size:13px;
	font-style:normal;
	text-decoration:none;
	color:#ffffff;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	display:block;
	padding:13px 20px 14px 25px;
}

.topmenu a:hover {
	font-size:13px;
	font-style:normal;
	text-decoration:none;
	color:#ffffff;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:url(images/hoverbg.gif) repeat-x top;
	display:block;
	padding:13px 20px 14px 25px;
}

.topmenu li.first a:hover,
.topmenu li.first a.active:hover  {
	font-size:13px;
	font-style:normal;
	text-decoration:none;
	color:#ffffff;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:url(images/li-first-hover-bg.png) no-repeat left top;
	display:block;
	padding:13px 20px 14px 25px;
}

.topmenu a.active {
	font-size:13px;
	font-style:normal;
	text-decoration:none;
	color:#ffffff;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:url(images/activebg.gif) repeat-x top;
	display:block;
	padding:13px 20px 14px 25px;
}

.topmenu li.first a.active {
	font-size:13px;
	font-style:normal;
	text-decoration:none;
	color:#ffffff;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:url(images/li-first-active-bg.png) no-repeat left top;
	display:block;
	padding:13px 20px 14px 25px;
}


.topmenu .search {
	float:right;
	width:182px;
	background:url(images/search.gif) no-repeat left top;
	margin:7px 9px 0 0;
}

.topmenu input {
	border:none;
	background:none;
	padding:4px;
	margin:0px;
}

.topmenu .search-input {
	float:left;
	width:143px;
}

.topmenu .search-input input {
	padding:5px 3px;
	width:143px;
}

.topmenu .go {
	float:left;
	width:30px;
}

.topmenu .go input {
	height:27px;
	width:33px;
	display:block;
	cursor:pointer;
}

/* Header styles */

.header {
	width:1003px;
	margin:auto;
	margin-bottom:10px;
	height:90px;
}

.header .logo
{
	font-size:42px;
	font-weight:bold;
	color:#03315C;
}

.header .slogan
{
	font-size:12px;
	font-weight:bold;
	color:#53A0CF;
}

.header .logo strong
{
	font-size:42px;
	font-weight:bold;
	color:#53A0CF;
}

/* content styles*/

.content {
	width:1003px;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
}

h1
{
	color:#AA1E3C;
}

blockquote {
    display: block;
    border-left: 5px solid #222;
    padding: 10px;
    margin-bottom: 20px;
}
blockquote {
    border-left: 5px solid #222;
}

blockquote p {
    font-style: italic;
    margin: 0;
    color: #333;
    height: 1%;
}

.examplescreen
{
    float:left;
	margin:10px;
}

.clear
{
	clear:both;
}
